<html>
	<head>
		<title> {{ dashboard_title }} </title>
		<link rel="stylesheet" type="text/css" href="/media/dashboard.css">
	</head>
	<body>
		<ul id="header">

			<li> <a href="/">Home</a>  </li>
			{% if name %}
			<li> Welcome {{ name }}, </li>
			{% endif %}
			<li> <a href="/logout/">Logout</a> </li>
		</ul>
		<div id="mainContainer">
			<a href="/addAuthor/"><input type="button" value="Add an author"/></a> </br>
			<a href="/addPublisher/"><input type="button" value="Add a publisher"/></a> </br>
			<a href="/addBook/"><input type="button" value="Add a book"/></a> </br>
			<a href="/viewAuthors/"><input type="button" value="View Authors"/></a> </br>
			<a href="/viewPublishers/"><input type="button" value="View publishers"/></a> </br>
			<a href="/viewBooks/"><input type="button" value="View books"/></a> </br>
		</div>

	</body>
</html>