<html>
	<head>
		<title> {{ login_title }} </title>
		<link rel="stylesheet" type="text/css" href="/media/login.css">
	</head>
	<body>
		<div id="header">
			<a href="/"> Home </a>
		</div>
		
		</br></br></br>
		<form action="/login/" method="post" id="loginForm">
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" value="Submit">
			{% csrf_token %}
		</form>
		{% if form.errors %}
			Error{{ form.errors|pluralize }} present
		{% endif %}
		<div id="status">
		{{ status }}
		</div>
		</br></br></br>

	</body>
</html>