<html>
	<head>
		<title> {{ register_title }} </title>
		<link rel="stylesheet" type="text/css" href="/media/register.css">
	</head>
	<body>
		<div id="header">
			<a href="/"> Home </a>
			<a href="/login/"> Login </a>
		</div>
		
		<div id="errors">
			{% if form.errors %}
				Clear the error{{ form.errors|pluralize }} below
			{% endif %}
		</div>

		<form action="/register/" method="post" id="registerForm">
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" value="Submit">
			{% csrf_token %}
		</form>
		

		</br></br></br>

	</body>
</html>