<html>
	<head>
		<title> {{ home_title }} </title>
		<link rel="stylesheet" type="text/css" href="/media/home.css">
	</head>
	<body>
		<ul id="header" class="clearfix">
			<li><a href="/login/"><input type="button" value="Login" /></a></li>
			<li><a href="/register/"><input type="button" value="Register" /></a></li>
		</ul>
		<div>
			<h2> Welcome to my library </h2>
		</div>
		{% if name %}
		<div>
			<a href="/dashboard/"><input type="button" value="Dashboard" /></a>
		</div>
		{% endif %}
	</body>
</html>