#header {
	list-style-type: none;
	padding: 0;
	border-bottom: solid #888888;
}

#header li {
	padding: 0 10px;
	display: inline-block;
}

#header li:last-child {
	float: right;
}

#mainContainer
{
	position: fixed;
	top: 30px;
}

div.ui-datepicker{
 font-size:10px;
}