ul#header {
	list-style-type: none;
	padding: 0;
	border: solid #888888;
}

ul#header li {
	padding: 0 10px;
	display: inline-block;
}

ul#header li:last-child {
	float: right;	
}

.clearfix:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 0px;
	overflow: hidden;
	clear: both;
	/*border: solid thin red;*/
}