#header
{
	position: fixed;
	height: 24px;
	top: 0;
	width: 100%;
	border-bottom: solid #888888;
}

#errors
{
	position: fixed;
	top: 20px;
}

#loginForm
{
	position: fixed;
	top: 30px;
}

#status
{
	position: fixed;
	top: 205px;
}

#mainContainer
{
	position: fixed;
	top: 200px;
}