#header
{
	position: fixed;
	height: 20px;
	top: 0;
	width: 100%;
	border-bottom: solid #888888;
}

#errors
{
	position: fixed;
	top: 20px;
}

#registerForm
{
	position: fixed;
	top: 50px;
	border: solid;
}