<html>
	<head>
		<title> {{ title }} </title>
		<link rel="stylesheet" type="text/css" href="/media/books.css">
	</head>
	<body>
		<ul id="header">
			<li><a href="/"><input type="button" value="Home" /></a> </li>
			<li><a href="/dashboard/"><input type="button" value="Dashboard" /></a> </li>
			<li>Welcome {{ name }}, </li>
		</ul>
		
		<form action="/addPublisher/" method="post" id="addBookForm">
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" value="Submit">
			{% csrf_token %}
		</form>

	</body>
</html>