<html>
	<head>
		<title> {{ title }} </title>
		{{ form.media }}
		
		<link rel="stylesheet" href="/media/css/jquery.ui.core.css">
		<link rel="stylesheet" href="/media/css/jquery.ui.datepicker.css">
		<link rel="stylesheet" href="/media/css/jquery.ui.theme.css">

		<link rel="stylesheet" type="text/css" href="/media/books.css">

		<script src="/media/js/jquery-1.9.1.js"></script>
		<script src="/media/js/jquery.ui.core.js"></script>
		<script src="/media/js/jquery.ui.widget.js"></script>
		<script src="/media/js/jquery.ui.datepicker.js"></script>
		<script>
		$(function() {
			$( "#id_publication_date" ).datepicker();
		});
		</script>
	</head>
	<body>
		<ul id="header">
			<li><a href="/"><input type="button" value="Home" /></a> </li>
			<li><a href="/dashboard/"><input type="button" value="Dashboard" /></a> </li>
			<li>Welcome {{ name }}, </li>
		</ul>
		
		<form action="/addBook/" method="post" id="addBookForm">
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" value="Submit">
			{% csrf_token %}
		</form>

	</body>
</html>